html, body {
  margin: 0;
  height: 100%;
  background: linear-gradient(135deg, rgba(203,203,203,1) 0%, rgba(162,162,162,1) 25%, rgba(129,129,129,0.3393732492997199) 50%, rgba(102,102,102,1) 75%);
}

@font-face {
  font-family: "SteelfishRegular";   /*Can be any text*/
  src: url("./fonts/steelfish.rg-regular.otf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}