.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: lightgray;
}

@font-face {
  font-family: "SteelfishRegular";   /*Can be any text*/
  src: url("./fonts/steelfish.rg-regular.otf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}